body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

.road {
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    bottom: 0;
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.5);
}

.car {
    position: absolute;
    width: 200px;
    height: 50px;
    background: red;
    border-radius: 10px;
    bottom: 100px; /* Расположение машины над дорогой */
    animation: drive 10s forwards; /* Анимация движения */
}

.wheel {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: -15px; /* Устанавливаем колеса ниже машины */
    animation: rotate 1s linear infinite; /* Анимация вращения колес */
}

.wheel.left {
    left: 20px; /* Левое колесо */
    background: linear-gradient(to right, black 50%, white 50%); /* Градиент для левого колеса */
}

.wheel.right {
    right: 20px; /* Правое колесо */
    background: linear-gradient(to left, black 50%, white 50%); /* Градиент для правого колеса */
}

.taillight{
    position: absolute;
    width: 7px;
    height: 10px;
    
    background: rgb(238, 255, 0);
    bottom: 7px;
    right: 5px;
    animation-name: background;
    animation-duration: 4s;
    animation-iteration-count: 4;   
}

.light{
border-left: 2px solid transparent;
border-right: 200px solid transparent;
border-bottom: 35px solid rgb(248, 239, 4);
position: relative;
right: -195px;
transform: scaleX(-1); /* Развернуть фару */
}

@keyframes drive {
    0% {
        left: -200px; /* Начальная позиция выезда */
    }
    90% {
        left: calc(100% - 250px); /* Конечная позиция */
    }
    100% {
        left: calc(100% - 250px); /* Остановка машины */
        animation-play-state: paused; /* Остановка анимации вращения колес */
    }
}
@keyframes background{
    from{
        background: rgb(51, 70, 0);
    }
    to{
        background: rgb(188, 209, 0);
    }
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}